.content {
  position: relative;
  min-height: 100vh;
  padding: 0 0 100px 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

a, a:hover {
  color: $dark;
}

.dark {
  background-color: $dark;
  color: $light;

  $list-group-border-color: $black;
  @import "../node_modules/bootstrap/scss/mixins";
  @import "../node_modules/bootstrap/scss/list-group";

  li {
    background-color: $dark !important;
  }

  a, a:hover {
    color: $light;
  }

  nav a, nav a:hover {
    background-color: $dark !important;
    color: $light;
  }
}
